.welcome-screen {
  text-align: center;
}

.welcome-screen__title {
  margin:0;
  font-size:2.8em;
  text-transform:uppercase;
  font-weight: 900;
  letter-spacing: -2px;
  line-height: 0.9;
  text-align: center;
  @media screen and (min-width:960px) {
    font-size:5em;
  }
}

.welcome-screen__subtitle {
  margin:0 auto;
  font-size:0.9em;
  font-weight: normal;
}

.welcome-screen__actions {
  grid-area: footer;
  display:flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  margin:2em 0;

}

.welcome-screen__button,
.welcome-screen__button-join {
  margin:0.5em 0;
}

.welcome-screen__button-join {
  font-weight: normal;
  text-transform:none;
  font-size:1em;
}

.welcome-screen__footer {
  display:flex;
  justify-content:space-around;
  align-items: center;
}

.welcome-screen__link {
  width:calc(33% - 1em);
  color:$red;
  font-size:0.75em;
  text-decoration:none;
  display: block;
  transition: color 0.3s;
  &:hover {
    color:$blue;
  }
  @media screen and (min-width:960px) {
  &:first-child {
    text-align:left;
  }
  &:last-child {
    text-align:right;
  }
  }
}

.ludoratory__logo {
  width: 3em;
  margin:1em 0;
}