.codemaster-ui__keyboard {
  display:flex;
  flex-direction: column;
  height:100%;
  width:100%;
  overflow:hidden;
}

.keyboard__keyrow {
  display: flex;
  margin:0 -1.75em;
  justify-content: center;
  margin:0.1em 0;
  height:100%;
}

.keyboard__key {
  -webkit-appearance: none;
  border:none;
  height: 100%;
  width: calc(10% - 0.2rem);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 900;
  margin:0.1rem;
  font-size:1.125em;
  color:#fff;
  overflow: hidden;
  flex:0 0 auto;
  transition: background 0.5s ease-out, color 0.5s ease-out;
  .red & {
    background: $red;
  }
  .blue & {
    background: $blue;
  }
  .keyboard_disabled & {
    background: $black; 
    color: $gray;
  }
}

.keyboard__key_delete {
  margin-left:1em;
  background:none !important;
  svg {
      transform: scale(1.2);
  }
}

.delete-key-icon {
  transition: fill 0.5s ease-out;
  .red & {
    fill: $red;
  }
  .blue & {
    fill: $blue;
  }
  .keyboard_disabled & {
    fill: $gray;
  }
}

.count__number {
  color: #fe4a49;
  font-weight: 900;
  font-size:5em;
  width:2em;
  text-align: center;
  .red & {
    color: $red;
  }
  .blue & {
    color: $blue;
  }
}

.count__button {
  color:$neutral;
  font-size: 2em;
  border:none;
  background:none;
  transition:color 0.3s ease-out;
  &[disabled] {
    color:$black;
  }
}

.codemaster-ui {
  margin: 1em 0;
}
.code {
  font-size: 1.875em;
  font-weight: 900;
  letter-spacing: -1px;
  text-align: center;
}
.code__placeholder {
  color: #b8b89c;
}

.codemaster-ui__count {
  margin:1em 0;
}

.count__text {
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
}

.count__input {
  display: flex;
  justify-content: space-around;
  align-items: center;
}