.turn-indicator {
  margin:1em 0 0;
  text-align: center;
  line-height: 1;
  @media screen and (min-width:960px) {
    margin:-1.125em 0 0;
  }
}

.turn-indicator__player {
  font-size:1em;
  text-transform: uppercase;
  position:relative;
  z-index:1;
  @include color();
  @media screen and (min-width:960px) {
    font-size:1.125em;
   }
}

.turn-indicator__code {
  font-size:1.4em;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-weight: 900;
  @media screen and (min-width:960px) {
   font-size:4em;
  }
}

.turn-indicator__placeholder {
  color: $gray;
}

.winner-indicator {
  margin:1em;
  text-align: center;
  line-height: 1;
  @media screen and (min-width:960px) {
    margin:-1.125em 0 0;
  }
}

.winner-indicator__motiff {
  font-size:1em;
  text-transform: uppercase;
  @include color();
  @media screen and (min-width:960px) {
    font-size:1.125em;
   }
}

.winner-indicator__winner {
  font-size:1.4em;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-weight: 900;
  @include color();
  @media screen and (min-width:960px) {
   font-size:4em;
  }
}