 html {
  box-sizing: border-box;
  user-select: none;
}

input, input:before, input:after {
  user-select: initial;
 }  

body {
  margin:0;
  padding:0;
  min-height:100%;
  background: $black;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  user-select: inherit;
}

button, input {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  outline:none;
  -webkit-appearance: none;
}